.container {
  margin: auto;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  justify-items: center;
  margin: auto;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 20px;
}

.image-container {
  height: 250px;
  width: 250px;
  margin: auto;
}

.image-container__image {
  max-height: 250px;
  max-width: 250px;
}

.text-container {
  max-width: 250px;
}
