.button__number-picker {
  background-color: white;
  border: 1px solid transparent;
}

.button__number-picker--arrow-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3px 6px 3px;
  border-color: transparent transparent #1c849b transparent;
}

.button__number-picker--arrow-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: #1c849b transparent transparent transparent;
}

.button__number-picker:hover {
  background-color: lightgrey;
}
