.button__action--primary {
  width: fit-content;
  border: 1px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px auto;
  background-color: #1c849b;
  color: white;
}

.button__action--secondary {
  width: fit-content;
  border: 1px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px auto;
  background-color: white;
  color: #1c849b;
}

.button__exit {
  display: flex;
  width: fit-content;
  border: 1px;
  border-radius: 5px;
  padding: 2px;
  margin: 0 0 auto auto;
  background-color: crimson;
  color: white;
}

.button__edit-columns {
  width: fit-content;
  height: fit-content;
  border: 1px;
  border-radius: 0 5px 5px 0;
  padding: 14px 10px;
  margin: 21px auto auto 5px;
  color: white;
  background-color: #1c849b;
  cursor: pointer;
}

.button__filter {
  width: fit-content;
  height: fit-content;
  border: 1px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 5px 5px 15px;
  color: #1c849b;
  background-color: white;
}

.button__sort {
  width: fit-content;
  border: 1px;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  background-color: #1c849b;
}

.button__search {
  display: flex;
  width: fit-content;
  border: 1px;
  border-radius: 5px;
  padding: 6px 10px;
  margin: 5px;
  color: #1c849b;
  background-color: white;
}

.button__submit {
  width: fit-content;
  border: 1px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px auto;
  background-color: darkgreen;
  color: white;
}

.button__number-picker {
  background-color: white;
  border: 1px solid transparent;
}

.button__number-picker--arrow-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3px 6px 3px;
  border-color: transparent transparent black transparent;
}

.button__number-picker--arrow-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: black transparent transparent transparent;
}

.button__action--primary:hover,
.button__action--secondary:hover,
.button__exit:hover,
.button__edit-columns:hover,
.button__filter:hover,
.button__sort:hover,
.button__search:hover,
.button__submit:hover {
  cursor: pointer;
  opacity: 0.7;
}

.button__number-picker:hover {
  background-color: lightgrey;
}
