.modal-container {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  opacity: 0.5;
  background-color: grey;
}

.modal {
  z-index: 9999;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 10px;
  top: 35%;
  left: calc(50% - 200px / 2);
  right: calc(50% - 200px / 2);
  align-self: initial;
  width: 200px;
  border-radius: 10px;
  background-color: white;
  border: solid 3px #1c849b;
  filter: blur(0) !important;
}
