.record-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px lightgrey;
  width: fit-content;
  margin: 10px;
}

.record-card:hover {
  border: solid 1px grey;
}
