.side-panel {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  box-shadow: 1px 1px 10px 0 black;
  width: fit-content;
  background-color: #1c849b;
  display: flex;
}

.side-panel__content {
  align-self: flex-start;
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
}

.side-panel__header {
  color: white;
}
