.table {
  margin: 20px auto auto;
  border: 1px lightgrey solid;
  border-spacing: 0;
  border-radius: 0 0 10px 10px;
}

.table__column-header {
  text-align: start;
  padding: 0.5rem;
}

.table__column-header--horizontal-group {
  display: flex;
  justify-content: space-between;
}

.table__row-header {
  background-color: #1c849b;
  color: white;
  border-bottom: #1c849b 1px solid;
}

.table__row:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.table__row--selected {
  background-color: #b9d9eb;
}

.table__row--selected:hover {
  background-color: #f08080;
}

.table__data-cell {
  padding: 0.5rem;
}
