.toolbar {
  text-align: start;
  font-family: "Roboto-Black", sans-serif;
  font-size: 1.5em;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c849b;
  color: white;
}

.toolbar--margin-bottom {
  margin-bottom: 135px;
}

.toolbar__header {
  margin-right: 30px;
}
