.container {
  margin: 50px auto;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid 1px grey;
  border-radius: 10px;
}

.column__flexbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 20px;
}

.image {
  max-height: 250px;
}

.image--container {
  height: 250px;
  width: 250px;
  margin: auto;
}

.table {
  border: 1px black solid;
  margin: 0 auto;
}

.table__header {
  text-align: start;
  border-bottom: black 1px solid
}

.table__row:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.element__standard-padding {
  padding: 0.5rem;
}

.element--shrinkwrap {
  width: fit-content;
  margin: auto;
}

.button__exit {
  width: fit-content;
  margin: 0 0 auto auto;
  border: 0;
  border-radius: 5px;
  background-color: orangered;
  color: white;
  padding: 5px 10px
}