.container {
  margin: 50px;
}

.modal {
  display: flex;
  margin: 0 auto;
}

.column__flexbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.image {
  max-height: 250px;
}

.image--container {
  height: 250px;
  width: 250px;
}

.table {
  border: 1px black solid;
  margin: 0 auto;
}

.table__header {
  text-align: start;
  border-bottom: black 1px solid
}

.table__row:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.element__standard-padding {
  padding: 0.5rem;
}

.element__standard-margin {
  margin: 0.5rem;
}

.element--shrinkwrap {}